apiVersion: v1
kind: Namespace
metadata:
  name: runnable-run
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-mock-server-deployment
  namespace: runnable-run
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: demo-mock-server
  template:
    metadata:
      labels:
        app: demo-mock-server
    spec:
      containers:
        - name: demo-mock-server
          image: registry.cn-hongkong.aliyuncs.com/runnable-run/demo-mock-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: NINJA_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: ninja-api-secret
                  key: token
---
apiVersion: v1
kind: Service
metadata:
  name: demo-mock-server-service
  namespace: runnable-run
spec:
  selector:
    app: demo-mock-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-mock-server-ingress
  namespace: runnable-run
spec:
  rules:
    - host: demo-api-mockserver.runnable.run
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: demo-mock-server-service
                port:
                  number: 80
